@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ExceptionModel

@{
    Layout = "_Layout"; // If you have a layout
}
<body>   
@*@using (Html.BeginForm("Index", "Filter", FormMethod.Get))
{
        <div class="input-container">
            <input type="hidden" name="type" value="Exceptions">
            <input type="text" name="modulename" placeholder="ModuleName">
            <input type="text" name="control" placeholder="Controller">
            <input type="text" name="input" placeholder="Input">
            <input type="submit" value="Filter">
        </div>
}*@
    <partial name="_filterLogic" />

<h4>Exception List</h4>
    <table class="content-table">
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>TotalException</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var @group in Model.ExceptionsDataModel)
        {
            <tr>
                <td>@group.moduleName</td>
                <td>@group.TotalExceptions</td>

            </tr>
        }
    </tbody>
</table>
</br>
<h4>Exception Top 3 based on Action</h4>

    <table class="content-table">
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>Controler</th>
            <th>Action</th>
            <th>LastCreatedTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var @group in Model.ExceptionsListModel)
        {
            <tr>
                <td>@group.moduleName</td>
                <td>@group.controlName</td>
                <td>@group.actionName</td>
                <td>@group.createdon</td>
            </tr>
        }
    </tbody>
</table>
</body>

@section Scripts{
    <script src="~/js/Exceptions.js"></script>
}
