@model RequestModel

@{
    Layout = "_Layout"; // If you have a layout
}
<partial name="_filterLogic" />

<h4 class="mt-3">Top 5 request based on action</h4>
    <table class="content-table" >
    <thead>
        <tr>
            <th>ModuleName</th>
            <th>Controler</th>
            <th>Action</th>
            <th>RequestTime</th>
            <th>ResponseTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var @group in Model.RequestDataModel)
        {
            <tr>
                <td>@group.moduleName</td>
                <td>@group.controlName</td>
                <td>@group.actionName</td>
                <td>@group.requestedon</td>
                <td>@group.responseon</td>
            </tr>
        }
    </tbody>
</table>
@*@section Scripts{
    <script src="~/js/RequestResp.js"></script>
}*@
